.hero{

display:flex;

justify-content:space-around;

align-items:center;

padding:70px;

height:85vh;

background:#f8fafc;

}

.hero-left{

width:45%;

}

.hero-left h1{

font-size:55px;

margin-bottom:20px;

color:#1e293b;

}

.hero-left p{

font-size:22px;

line-height:45px;

color:#475569;

}

.hero-left button{

margin-top:30px;

padding:15px 40px;

border:none;

background:#2563eb;

color:white;

font-size:18px;

border-radius:10px;

cursor:pointer;

transition:.3s;

}

.hero-left button:hover{

background:#1d4ed8;

}

.hero-right{

width:45%;

}

.hero-right img{

width:100%;

}